<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
        {% block stylesheets %}
            {# style css #}
            <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
            {# style perso #}
            <link rel="stylesheet" href="{{ asset('assets/css/dashboard.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        {% endblock %}
    </head>
    <body>
        <!-- header -->
        <header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
            <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="{{ path('app_admin') }}">GESTION PRODUIT</a>

            <ul class="navbar-nav flex-row d-md-none">
                <li class="nav-item text-nowrap">
                    <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </li>
            </ul>
        </header>
        <!-- header end -->

        <div class="container-fluid">
            <div class="row">
                <!-- sidebar -->
                <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
                    <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="sidebarMenuLabel">GESTION PRODUIT</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
                    </div>
        
                    <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="#">
                                <svg class="bi"><use xlink:href="#house-fill"></use></svg>
                                Tableau de bord
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gap-2" href="{{ path('app_produit') }}">
                                    <svg class="bi"><use xlink:href="#produit"></use></svg>
                                    Produit
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gap-2" href="{{ path('app_fournisseur') }}">
                                    <svg class="bi"><use xlink:href="#fournisseur"></use></svg>
                                    Fournisseur
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gap-2" href="{{ path('admin_commande') }}">
                                    <svg class="bi"><use xlink:href="#commande"></use></svg>
                                    Commande
                                </a>
                            </li>
                        </ul>
        
                        <hr class="my-3">
            
                        <ul class="nav flex-column mb-auto">
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2" href="{{ path('app_logout') }}">
                                Déconnexion
                            </a>
                        </li>
                        </ul>
                    </div>
                    </div>
                </div>
                <!-- sidebar end-->

                <!-- main-->
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    {% for label,messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert-message ">
                                <div class="alert alert-{{ label }} alert-dismissible fade show mt-2" role="alert">
                                    <strong>{{ message }}</strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    
                    {% block body %}{% endblock %}
                </main>
                <!-- main end-->
            </div>
        </div>

        {% block javascripts %}
            <script src="{{ asset('assets/bootstrap/js/bootstrap.bundle.js') }}"></script>
            <script src="{{ asset('assets/js/jquery-3.1.1.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
