{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/sing-up.css') }}">
{% endblock %}

{% block body %}
    <div class="d-flex align-items-center justify-content-center">
        <div class="form-signup">
            {{ form_start(form) }}
                <h1 class="h2 mb-3 fw-bold text-center">Inscription</h1>
            
                <div class="form-floating">
                    {{ form_widget(form.nom) }}
                    {{ form_errors(form.nom) }}
                    <label for="register_nom">Nom</label>
                </div>
                <div class="form-floating">
                    {{ form_widget(form.prenom) }}
                    {{ form_errors(form.prenom) }}
                    <label for="register_prenom">Prenom</label>
                </div>
                <div class="form-floating">
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                    <label for="register_email">Adresse Email</label>
                </div>
                <div class="form-floating">
                    {{ form_widget(form.adresse) }}
                    {{ form_errors(form.adresse) }}
                    <label for="register_adresse">Adresse</label>
                </div>
                <div class="form-floating">
                    {{ form_widget(form.telephone) }}
                    {{ form_errors(form.telephone) }}
                    <label for="register_telephone">Téléphone</label>
                </div>
                <div class="form-floating">
                    {{ form_widget(form.password.first) }}
                    {{ form_errors(form.password.first) }}
                    <label for="register_password_first">Mot de passe</label>
                </div>
                <div class="form-floating">
                    {{ form_widget(form.password.second) }}
                    {{ form_errors(form.password.second) }}
                    <label for="register_password_second">Confiirmer le mot de passe</label>
                </div>

                <button class="btn btn-primary w-100 py-2" type="submit">S'inscrire</button>
                <a class="d-block my-3" href="{{ path('app_login') }}">
                    Se connecter
                </a>
                <p class="mt-5 mb-3 text-body-secondary">GESTION PRODUIT</p> 
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
